body{
    background-color: rgb(17, 0, 44);
    width: 100%;
    height: 100%;
}
.topo{
    color: white;
    margin: 6px;
}

.topo ul img{
    object-fit: cover;
    width: auto;
    height: 100px;
}
.topo ul li{
    text-decoration: none;
    display: inline-flex;
    text-align: right;
    float: right;
    padding: 20px;
    margin-left: 20px;
    vertical-align: middle;
}
.topo a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    flex: 1;
    text-align: right;
    padding-top: 20px;
}
.meio{
margin-top: 100px;
margin-left: 300px;
display: flex;
justify-content: flex-start; /* Alinha os itens ao início do contêiner */
gap: 200px; /* Ajuste o valor para definir a distância entre os vídeos */
}
.esquerdo {
border: 6px solid #000000;
 background-color: rgb(0, 0, 0);
 text-align: center;
}
.esquerdo h2{
border: 4px solid #080011;
color: #5900ff;
background-color: rgb(0, 0, 0);
}
.direito {
border: 6px solid #000000;
 background-color: rgb(0, 0, 0);
 text-align: center;
}
.direito2{
display: block;
margin-left: -604px;
margin-top: 300px; /* Adicione margem superior para separar do vídeo acima */
}